---
layout: page
title: Say Hello
permalink: /contact/
---

<div class="py2">
  {% if site.ajaxify_contact_form %}
    <form class="form-stacked">
        <div class="form-group">
            <label class="control-label" for="form-group-input">Your Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label class="control-label" for="form-group-input">Body</label>
            <textarea rows="5" name="content" type="text" class="form-control" id="email" name="email" placeholder="What would you like to say?"></textarea>
        </div>
        <input type="hidden" name="_subject" value="New submission!" />
        <input type="text" name="_gotcha" style="display:none" />
        <button type='submit' class="button button-blue button-big mobile-block">Say Hello</button>
    </form>
   
    
  {% else %}
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="form-stacked">
        <div class="form-group">
            <label class="control-label" for="form-group-input">Your Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            
            <textarea rows="5" name="content" type="text" class="form-control" id="email" name="email" placeholder="What would you like to say?"></textarea>
        </div>
      <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks/" />
      <input type="hidden" name="_subject" value="New submission!" />
      <input type="text" name="_gotcha" style="display:none" />
      <input type="submit" class="btn btn-success" value="Say Hello">
    </form>
  {% endif %}
</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
