<div class="media">
    <div class="media-left media-top">
        <a href="#">
            <img class="media-object" src="/images/me.jpeg" style="width:100px;" alt="Pratik">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">About Pratik</h4>
        <p>
            Pratik is a .NET developer / Business analyst with a entrepreneurial streak.

            Get in touch with him on Linked In
        </p>
        <p class="lead">
            {% include social_links.html %}
        </p>
    </div>
</div>